<h1>All coffees</h1>

<% @coffees.each do |c| %>

  <h2><%= link_to c.name, coffee_path(c.id)%> - <%= c.brand.brand_name %> </h2>
  <%= link_to "Add a review", new_coffee_review_path%>
  <% end %>
  <div>
    <p><%= c.description %></p>
  </div>